[submodule "external/acados"]
	path = external/acados
	url = https://github.com/acados/acados.git
[submodule "external/project1-boptest-gym"]
	path = external/project1-boptest-gym
	url = https://github.com/ibpsa/project1-boptest-gym.git
	ignore = dirty
[submodule "external/project1-boptest"]
	path = external/project1-boptest
	url = https://github.com/ibpsa/project1-boptest.git
	ignore = dirty
